<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    tr:hover {background-color: aquamarine;}
</style>

<table>
    <tr>
      <th>Part of Project</th>
      <th>Ahmed Ansari</th>
      <th>Ayman Arif Khan</th>
      <th>Giulio Zhu</th>
    </tr>

    <tr>
      <td>Client Liaison</td>
      <td>60%</td>
      <td>30%</td>
      <td>10%</td>
    </tr>
    <tr>
      <td>Requirement Analysis</td>
      <td>33%</td>
      <td>33%</td>
      <td>33%</td>
    </tr>
    <tr>
        <td>Research</td>
        <td>33%</td>
        <td>33%</td>
        <td>33%</td>
    </tr>
    <tr>
        <td>UI Design</td>
        <td>10%</td>
        <td>30%</td>
        <td>60%</td>
    </tr>
    <tr>
        <td>Prototyping</td>
        <td>33%</td>
        <td>33%</td>
        <td>33%</td>
    </tr>
    <tr>
        <td>Programming</td>
        <td>33%</td>
        <td>33%</td>
        <td>33%</td>
    </tr>
    <tr>
        <td>Documentation</td>
        <td>33%</td>
        <td>33%</td>
        <td>33%</td>
    </tr>
    <tr>
        <td>Presentation</td>
        <td>33%</td>
        <td>33%</td>
        <td>33%</td>
    </tr>
    <tr>
        <td>Blog</td>
        <td>30%</td>
        <td>40%</td>
        <td>30%</td>
    </tr>
    <tr>
        <td>Bi-Weekly Reports</td>
        <td>33%</td>
        <td>33%</td>
        <td>33%</td>
    </tr>
    <tr>
        <td>Project Website</td>
        <td>33%</td>
        <td>33%</td>
        <td>33%</td>
    </tr>
    <tr>
        <td>Video Editing</td>
        <td>33%</td>
        <td>33%</td>
        <td>33%</td>
    </tr>
    <tr style="font-weight: bold;">
        <td>Overall Contribution</td>
        <td>33%</td>
        <td>33%</td>
        <td>33%</td>
    </tr>
</table>