<!-- 768x768 profile images-->
<div class="team_row">
    <div class="team_column">
      <div class="team_card">
        <img src="/2023/group43/assets/images/home/AhmedAnsari.jpeg" alt="Ahmed" style="width:100%">
        <div class="team_container">
          <h2>Ahmed Ansari</h2>
          <p class="team_title">1st Team Lead</p>
          <p>Machine learning and AI guidance developer, project liaison, website developer</p>
          <p><a href="ansari82002@gmail.com">ansari82002@gmail.com</a></p>
        </div>
      </div>
    </div>
  
    <div class="team_column">
      <div class="team_card">
        <img src="/2023/group43/assets/images/home/AymanArifKhan.jpeg" alt="Ayman" style="width:100%">
        <div class="team_container">
          <h2>Ayman Arif Khan</h2>
          <p class="team_title">2nd Team Lead</p>
          <p>video conferencing developer, blog recorder, UI designer, and prototype architect</p>
          <p><a href="aymankn6@gmail.com">aymankn6@gmail.com</a></p>
        </div>
      </div>
    </div>
  
    <div class="team_column">
      <div class="team_card">
        <img src="/2023/group43/assets/images/home/GiulioZhu.jpeg" alt="Giulio" style="width:100%">
        <div class="team_container">
          <h2>Giulio Zhu</h2>
          <p class="team_title">3rd Team Lead</p>
          <p>Object recognition camera developer, tester, website designer, video editor</p>
          <p><a href="giuliozhu@outlook.com">giuliozhu@outlook.com</a></p>
          <p><a href="https://giuliozhu.github.io/">Personal Website</a></p>
        </div>
      </div>
    </div>
</div>