<div class="row">
    <div class="column">
      <div class="card">
        <img src="" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Ahmed Ansari</h2>
          <p class="title">CEO &amp; Founder</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p><a href="example@example.com">example@example.com</a></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Ayman Arif Khan</h2>
          <p class="title">Art Director</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p><a href="example@example.com">example@example.com</a></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/2023/group43//assets/images/home/GiulioZhu.jpeg" alt="John" style="width:100%">
        <div class="container">
          <h2>Giulio Zhu</h2>
          <p class="title">Programmer, Website Editor</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p><a href="giuliozhu@outlook.com">giuliozhu@outlook.com</a></p>
        </div>
      </div>
    </div>
</div>