<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="main" href="/2023/group43/assets/css/implementation.css">

    <script>
        let slideIndex = 1;
        showSlides(slideIndex);
    </script>
</head>

  <body>

    {%- include views/header.html -%}

    {%- include views/banner.html -%}

    {%- include extensions/hashlocate.html -%}

    {%- include extensions/theme-toggle.html -%}

    {%- include extensions/click-to-top.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include views/footer.html -%}

  </body>
</html>
